body {
    /* Choose a color palette that reflects the style you want for your portfolio. */
    background-color: #393E46;
    /* Select font families for headings and body text. */
    font-family: "Montserrat", serif;
    color: #EEEEEE;
    margin: 0;
    padding: 0;
}
/* Style the header with your chosen colors, fonts, and padding. */
header {
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}

h1 {
    margin: 0;
    color: #00ADB5;
    font-size: 3rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    font-size: 1.25rem;
}

nav a {
    text-decoration: none;
    color: #EEEEEE;
    padding: 1rem;
    margin: 0.5rem;
    transition: .3s;
}

nav a:hover {
    color: #00ADB5;
    transition: .3s;
}
/* Use CSS to position elements and add padding/margins for spacing. */
.container {
    background-color: #222831;
    margin: 2rem;
    padding: 1rem;
}

#intro {
    display: flex;
    justify-content: space-around;
}

.content {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Style each portfolio item with a border, shadow, or background effect. */
.image {
    height: 20rem;
    border: 3px solid #00ADB5;
    border-radius: 0.2rem;
}

.name-color {
    color: #00ADB5;
}

.title {
    font-size: 2rem;
    color: #00ADB5;
}

.no-line {
    text-decoration: none;
    color: #EEEEEE;
    transition: .3s;
}

.no-line:hover {
    color: #00ADB5;
    transition: .3s;
}

.margin-top {
    margin-top: 5rem;
}

.skill-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.skill-title img {
    height: 2rem;
}